body {
    margin: 0;
    padding: 0;
    background-color: rgb(196, 218, 218);
}

.rod {
    height: 30px;
    width: 30vw;
    background-color: rgb(87, 87, 222);
    position: absolute;
    border-radius: 40px;
    /* left: 0%; */
    left: 35%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 5px;
}

#rod1 {
    top: 10px;
}

#rod2 {
    bottom: 10px;
}

#ball {
    height: 60px;
    width: 60px;
    background-color: rgb(215, 87, 87);
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 48%;
}