body {
    margin: 0;
    padding: 0;
}

.rod {
    height: 20px;
    width: 20vw;
    background-color: blue;
    position: absolute;
    border-radius: 10px;
    /* left: 0%; */
    left: 41%;
    text-align: center;
    color: white;
}

#rod1 {
    top: 2px;
}

#rod2 {
    bottom: 2px;
}

#ball {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}